<configuration>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">


        <encoder>

            <!--
            <pattern>%black(%d{HH:mm:ss.SSS})  %highlight([thread]) %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
            -->
            <pattern>%msg%n</pattern>

        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>